<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Common Sense Education</title>

    <!-- CSS -->
    <link href="{{ STATIC_URL }}css/css/education.css" rel="stylesheet">

    <!-- JS -->
    <script src="{{ STATIC_URL }}js/education.js"></script>
  </head>

  <body>
    <header>
      [Header]
      <hr />
    </header>

    {% block body %}
    {% endblock body %}

    <footer>
      <br /><br /><br />
      <hr />
      [footer]
    </footer>
  </body>
</html>
