{% extends 'main/body/full.html' %}

{% block content %}
  <h1>Product List</h1>

  <ul>
    <li><a href="?type=app">Apps</a></li>
    <li><a href="?type=game">Games</a></li>
    <li><a href="?type=website">Websites</a></li>
  </ul>
  <hr />

  <ul>
    {% for product in products %}
      <li>
        <a href="{{ product.review.get_url_path }}"><img src="{{ product.image }}" width="100"></a><br />
        <a href="{{ product.review.get_url_path }}">{{ product.title }}</a>
      </li>
    {% endfor %}
  </ul>

{% endblock content %}